@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inconsolata:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');

:root {
    --background-color: rgba(220, 217, 217, 0.2);
    --text-color: #000000;
    --error-color: #eb4747;
    --sucess-color: #47dd3c;
}

.container-login {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
}

.content-login {
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    overflow: hidden;
}

.header-login {
    width: 100%;
    position: fixed;
    top: 3%;
    z-index: 2;
    transition: 0.6s;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.containerHeader-login {
    width: 40%;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.header-login ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    width: 80%;
}

.header-login li {
    list-style: none;
}

.headerLink-login {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.headerLink-login:hover {
    font-weight: 700;
    transition: 0.2s ease-in-out;
}

.headerLink-login {
    color: var(--text-color);
    line-height: 2;
    position: relative;
}

.headerLink-login::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #375A88;
    position: absolute;
    bottom: -.25rem;
    left: 50%;
    transition: width .4s, left .4s;
}

.headerLink-login:hover::before {
    width: 100%;
    left: 0;
}

/*conteudo*/
.content-login {
    display: flex;
    flex-direction: row;
}

.Registration-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10%;
}

.registration_div-login {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.h1-login {
    font-weight: 700;
    font-size: 3.5rem;
    /* text-align: center; */
    margin: 0;
    display: flex;
    margin-left: 15%;
    margin-bottom: 3%;
    line-height: 1.5;
    /* justify-content:center; */
    /* align-items: center; */
}

.inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-login {
    width: 400px;
    /* max-width: 400px; */
    padding: 1.2rem;
    border-radius: 1rem;
    border: none;
    background-color: #D9D9D9;
    font-size: 1rem;

    /* box-shadow: 2px 2px 30px 2px lightgrey; */
}


.div_registration-login {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.button-login {
    width: 200px;
    height: 50px;
    background-color: #375A88;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: solid 1px #375A88;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    font-weight: 700;
}


.button-login:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.button-login:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-login span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

.content_img-login {
    background-color: #11111F;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.img_registration-login {
    width: 500px;
    height: 500px;
}

.img_registration-login img {
    width: 100%;
    height: 100%;
}

.password-login {
    font-weight: 200;
    font-size: 1rem;
}

@media only screen and (max-width: 835px) {
    .container-login {
        flex-direction: row;
    }

    .content-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-login {
        width: 100%;
    }

    .containerHeader-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .h1-login {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content_img-login {
        width: 0%;
    }

    .img_registration-login {
        width: 0%;
        height: auto;
    }

    .div_registration-login {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .input-login {
        width: 90%;
    }

    .button-login {
        width: 100%;
    }
}

@media only screen and (min-width: 883px) and (max-width: 1024px) {
    .container-login {
        flex-direction: row;
    }

    .content-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-login {
        width: 50%;
    }

    .containerHeader-login {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .h1-login {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content_img-login {
        width: 100%;
    }

    .img_registration-login {
        width: 90%;
        height: auto;
    }

    .div_registration-login {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .input-login {
        width: 90%;
    }

    .button-login {
        width: 100%;
    }
}