@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inconsolata:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');

:root {
  --background-color: rgba(220, 217, 217, 0.2);
  --text-color: #000000;
  --error-color: #eb4747;
  --sucess-color: #47dd3c;
}

.error {
  color: var(--error-color);
}

/*Botão de voltar*/
.button {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  background-color: #11111F;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.button:hover:before,
.button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

 .button:hover:after,
.button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
} 

.button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.button-elem {
  display: block;
  width: 25px;
  height: 25px;
  margin: 15px 18px 0 17px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.button:hover .button-box,
.button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
} 


.container-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #11111F;
}

.container {
  width: 100%; 
  background-color: var(--background-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #11111F;
  overflow: hidden;
 }

.container-button {
  width: 100%;
  background-color: #11111F;
}

.progress-indicator{
  margin-top: 5%;
}

.step-number{
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: 48%;
  margin-top: -13%;
  color: white;

}
.step {
  display: none;
}

.step.active {
  display: block;
}

.divisor{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 30px;
}


.signup-form{
  margin-top: 5%;
}

/*Botão de continuar*/
.buttonPro {
  width: 100%;
  height: 60px;
  background-color: #375A88;
  color: white;
  cursor: pointer;
  border: solid 1px #375A88;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10%;
}

.buttonPro:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.buttonPro:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonPro span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

/*Botão para endereço*/
.buttonEnd {
  width: 100%;
  height: 60px;
  background-color: #375A88;
  color: white;
  cursor: pointer;
  border: solid 1px #375A88;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  font-weight: 700;
  margin-top: 10%;
}

.buttons-step2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.buttonEnd:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.buttonEnd:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.buttonEnd span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}


.progress-indicator {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 60%;
}

.progress-circle {
  width: 250px;
  height: 20px;
  border-radius: 20px;
  background-color: #375A88;
}

/*Input*/

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}

.input {
  width: 400px;
  padding: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #D9D9D9;
  font-size: 1rem;
}

.input-error {
  border: 2px solid red;
}

.textarea-fixed-size {
  width: 100%;
  max-width: 500px;
  height: 150px;
  resize: none;
  padding: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #D9D9D9;
  font-size: 1rem;
}


span{
  margin-top: -5%;
  margin-bottom: -5%;
}

@media only screen and (max-width: 760px) {
  .input {
    width: 100%;
  }

  .progress-indicator {
    width: 100%;
    margin-top: 10%;
  }

  .progress-circle {
    width: 30%;
  }

  .step-number{
    margin-top: -30%;
  }

  .buttonPro {
    margin-bottom: 5%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1024px){
 
  .step{
    width: 80%;
  }

  .inputs {
    width: 100%;
  }

  .input {
    width: 100%;
    margin-bottom: 8%;
  }

  .progress-indicator {
    width: 100%;
    margin-top: 8%;
  }

  .progress-circle {
    width: 30%;
  }

  .buttonPro {
    margin-bottom: 5%;
  }
}